.footer-section-wrapper{
    background-color: #041121;
   min-height: 200px;
    
}
.footer-section-wrapper .copy-right{
    border-top: 2px dashed  orange;
    padding: 10px;
    color: #4a4a4a;
    font-size: 15px;
}
.footer-section-wrapper .desc span{
    color: #fff;
    padding: 14px;
}
.footer-section-wrapper .desc i{
color: #b4d212;
font-size: 38px;
transform: rotate(-18deg);
padding-left: 15px;
vertical-align: -5px;
}
.footer-section-wrapper .desc p{
    font-size: 16px;
    margin-top: 14px;
    color: #9c9898;
}
.footer-section-wrapper .social-us h3{
    font-size: 14px;
    padding: 14px;
    margin-right: 20px;
    color: #4a4a4a
}
.footer-section-wrapper .social-us a{
    color: #fff;

}
.footer-section-wrapper .social-us ul{
    direction: ltr;
    padding-left: 102px;
}
.icons-social a i{
    padding: 16px;
}
.social-us-2 h3{
    font-size: 14px;
    padding: 14px;
    margin-right: 20px;
    color: #4a4a4a
}